section {
  height: 100vh;
}
section .content .calendar-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
section .content .calendar-container .memo {
  width: 32%;
  height: 80%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.0625);
  border-radius: 3px;
}
section .content .calendar-container .memo .title-day {
  margin-bottom: 20px;
  background-color: #673ab7;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
section .content .calendar-container .memo .title-day .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px;
}
section .content .calendar-container .memo .title-day .date .num {
  font-size: 2.5em;
  font-weight: 200;
  color: #fff;
}
section .content .calendar-container .memo .title-day .date .num span {
  font-size: .5em;
  font-weight: 100;
  color: #fff;
}
section .content .calendar-container .memo .title-day .date .sunday {
  font-size: 2em;
  font-weight: 400;
  color: #fff;
}
section .content .calendar-container .memo .title-day .btn {
  position: relative;
}
section .content .calendar-container .memo .title-day .btn button {
  position: absolute;
  top: -25px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
  background-color: #ffe715;
  border-radius: 100%;
  cursor: pointer;
}
section .content .calendar-container .memo .title-day .btn button:hover {
  background-color: #ffd014;
}
section .content .calendar-container .memo .event-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
  cursor: pointer;
}
section .content .calendar-container .memo .event-container:last-child {
  border: none;
}
section .content .calendar-container .memo .event-container .text-event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
section .content .calendar-container .memo .event-container .text-event .text {
  margin-left: 20px;
}
section .content .calendar-container .memo .event-container .text-event .text h4 {
  margin-bottom: 5px;
  font-weight: 400;
}
section .content .calendar-container .memo .event-container .text-event .text p {
  font-weight: 100;
  font-size: .9em;
}
section .content .calendar-container .memo .event-container .text-event .text p span {
  font-weight: 300;
  font-style: italic;
}
section .content .calendar-container .memo .event-container .event-edit span {
  margin: 5px;
  cursor: pointer;
}
section .content .calendar-container .memo .event-container .event-edit span:hover {
  color: #45aaf2;
}
section .content .calendar-container .calendar {
  width: 65%;
  height: 580px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.0625);
  overflow-y: scroll;
}
section .content .calendar-container .calendar .title-calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
section .content .calendar-container .calendar .title-calendar .btn-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.0625);
  border-radius: 5px;
  cursor: pointer;
}
section .content .calendar-container .calendar .title-calendar .btn-date a {
  padding: 10px;
  font-weight: 100;
  border-right: 1px solid rgba(0, 0, 0, 0.0625);
}
section .content .calendar-container .calendar .title-calendar .btn-date a:last-child {
  border: none;
}
section .content .calendar-container .calendar .title-calendar .btn-date a.active {
  background-color: rgba(0, 0, 0, 0.0625);
}
section .content .calendar-container .calendar .title-calendar h2 {
  display: none;
  margin: 20px 40px;
  font-weight: 400;
}
section .content .calendar-container .calendar .title-calendar h2.active {
  display: block;
}
section .content .calendar-container .calendar .title-calendar .btn-today {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
section .content .calendar-container .calendar .title-calendar .btn-today #today {
  padding: 10px;
  margin: 20px;
  font-weight: 100;
  border: 1px solid rgba(0, 0, 0, 0.0625);
  border-radius: 5px;
  cursor: pointer;
}
section .content .calendar-container .calendar .title-calendar .btn-today .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.0625);
  border-radius: 5px;
  cursor: pointer;
}
section .content .calendar-container .calendar .title-calendar .btn-today .arrow a {
  padding: 10px;
  font-weight: 100;
  border-right: 1px solid rgba(0, 0, 0, 0.0625);
}
section .content .calendar-container .calendar .title-calendar .btn-today .arrow a:last-child {
  border: none;
}
section .content .calendar-container .calendar .body-calendar {
  width: 100%;
}
section .content .calendar-container .calendar .body-calendar table {
  display: none;
  border-top: 1px solid rgba(0, 0, 0, 0.0625);
  width: 100%;
}
section .content .calendar-container .calendar .body-calendar table thead {
  border-collapse: collapse;
  text-align: center;
}
section .content .calendar-container .calendar .body-calendar table thead tr td {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
  font-weight: 400;
  text-transform: uppercase;
}
section .content .calendar-container .calendar .body-calendar table tbody {
  text-align: right;
}
section .content .calendar-container .calendar .body-calendar table tbody tr td {
  display: table-cell;
  vertical-align: top;
  width: 80px;
  height: 80px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
  border-right: 1px solid rgba(0, 0, 0, 0.0625);
}
section .content .calendar-container .calendar .body-calendar table tbody tr td p {
  padding: 2px 0;
  font-weight: 300;
  text-align: center;
  background-color: #e3f2fd;
}
section .content .calendar-container .calendar .body-calendar table tbody tr td:last-child {
  border-right: none;
}
section .content .calendar-container .calendar .body-calendar table tbody tr td.may {
  color: #c5cacd;
}
section .content .calendar-container .calendar .body-calendar table tbody tr:last-child td {
  border-bottom: none;
}
section .content .calendar-container .calendar .body-calendar table#tab2 {
  width: 100%;
}
section .content .calendar-container .calendar .body-calendar table#tab2 tbody tr td {
  height: 40px;
}
section .content .calendar-container .calendar .body-calendar table#tab2 tbody tr td:last-child {
  margin: 0;
  background-color: #fcf8e3;
}
section .content .calendar-container .calendar .body-calendar table#tab3 tbody tr td {
  width: 80px;
  height: 40px;
}
section .content .calendar-container .calendar .body-calendar table#tab3 tbody tr td:last-child {
  width: 85%;
}
section .content .calendar-container .calendar .body-calendar table.active {
  display: table;
}
@media (max-width: 960px) {
  section {
    height: 120vh;
  }
}
@media (max-width: 768px) {
  section {
    height: 250vh;
  }
  section .content .calendar-container {
    display: block;
  }
  section .content .calendar-container .memo {
    width: 100%;
    margin-bottom: 20px;
  }
  section .content .calendar-container .calendar {
    width: 100%;
  }
  section .content .calendar-container .calendar .title-calendar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  section .content .calendar-container {
    display: block;
  }
  section .content .calendar-container .memo {
    width: 100%;
    margin-bottom: 20px;
  }
  section .content .calendar-container .calendar {
    width: 100%;
  }
  section .content .calendar-container .calendar .title-calendar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  section .content .calendar-container .calendar .body-calendar table tbody tr td p {
    display: none;
  }
}
