@import "variables";

@font-face {
  font-family: 'Bernadette';
  src: url("../fonts/bernadette.ttf");
}

@font-face {
  font-family: 'Myriad';
  src: url("../fonts/myriad.ttf");
}

body {
  background-color: $bg-color;
}

header {
  width: 100%;
  height: 64rem;
  background-image: url("../img/bg-header.jpg");
  background-size: cover;
  background-position: center;
  padding: 1.5rem 2rem;
  box-sizing: border-box;
  position: relative;
  clip-path: circle(106% at 50% -60%);

  &:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to right, $first-gradient, $second-gradient);
	opacity: .7;
  }
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  box-sizing: border-box;
}

.menu {

  &-list {
	display: flex;
	justify-content: space-between;

	&__item a {
	  padding: 1.5rem;
	  color: $header-text-color;
	  font-size: 1rem;
	  font-weight: 700;
	  text-transform: uppercase;
	  transition: color .5s;

	  &:hover {
		color: $title-color;
	  }
	}
  }
}

.greeting {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 17rem;

  &__title {
	font-size: 7rem;
	margin-bottom: 2.5rem;
	color: $header-text-color;
	font-family: 'Bernadette', sans-serif;
  }

  &__subtitle {
	font-size: 3rem;
	margin-bottom: 4rem;
	color: $header-text-color;
  }

  &__text {
	width: 35%;
	line-height: 1.5;
	text-align: justify;
	margin-bottom: 4rem;
	color: $header-text-color;
  }

  &__btn {
	text-transform: uppercase;
	background-color: $header-text-color;
	color: $button-text-color;
	font-weight: 700;
	box-shadow: none;
	border: 0;
	outline: 0;
	border-radius: 15px;
	padding: .5rem 1rem;
	cursor: pointer;
	transition: background-color, color, transform .5s;

	&:hover {
	  background: linear-gradient(to right, $first-gradient, $second-gradient);
	  color: $header-text-color;
	  transform: scale(1.5);
	}
  }
}

.article {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 3;

  &-item {
	width: 20%;
	margin: -12rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: $shadow;
	border-radius: 10px;
	position: relative;

	&__img {
	  border-top-left-radius: 10px;
	  border-top-right-radius: 10px;
	  width: 100%;
	}

	&__title {
	  margin: 2rem 0;
	  font-size: 1.5rem;
	  font-weight: 700;
	  color: $title-color;
	}

	&__text {
	  text-align: center;
	  margin: 0 3rem 4rem;
	  line-height: 1.5;
	}

	&__btn {
	  position: absolute;
	  bottom: -17px;
	}
  }
}

.quote {
  margin: calc(400px + 5rem) 350px 0;
  display: flex;
  justify-content: space-between;
  position: relative;

  &-text {
	width: 30%;

	&__text {
	  color: $text-color;
	  font-size: 1.2rem;
	  line-height: 1.5;
	  font-weight: 700;
	}

	&__subtext {
	  color: $text-color;
	  font-size: 1.2rem;
	  line-height: 1.5;
	}

	&__quote {
	  color: $text-color;
	  font-size: 1.2rem;
	  line-height: 1.5;
	  font-style: italic;
	  font-weight: 700;
	  margin-top: 6rem;
	}

	&__title {
	  font-size: 3rem;
	  margin-bottom: 2rem;
	}

	&__name {
	  font-size: 3rem;
	  margin-top: 2rem;
	  text-align: center;
	}

	&__btn {
	  margin-top: 2rem;
	}
  }

  &-img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
  }
}

.features {
  margin: 10rem 350px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  &-item {
	margin-bottom: 3rem;
	width: 47%;

	&__img {
	  width: 100%;
	}

	&-text {
	  position: absolute;
	  top: 25%;
	  left: 25%;
	  right: 25%;
	  bottom: 25%;
	  background-color: $header-text-color;
	  border-radius: 15px;
	  z-index: 3;
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	  align-items: center;

	  &__title {
		font-size: 2.5rem;
		text-align: center;
		margin: 1rem 0;
	  }

	  &__text {
		color: $text-color;
		font-size: 1rem;
		text-align: center;
		line-height: 1.5;
		font-style: italic;
		font-weight: 700;
		width: 75%;
	  }

	  &__btn {
		display: block;
		margin: 2rem auto 0;
	  }
	}
  }
}

.services {
  background-color: $bg-gray;
  margin: .5rem 150px;
  display: flex;
  align-items: center;
  position: relative;

  &-item {
	padding: 5rem 200px;

	&__title {
	  font-size: 2.5rem;
	  margin-bottom: 1rem;
	}

	&__text {
	  width: 90%;
	  color: $text-color;
	  font-size: 1.1rem;
	  line-height: 1.5;
	  font-weight: 700;
	}

	&__subtext {
	  width: 90%;
	  color: $text-color;
	  font-size: 1.1rem;
	  line-height: 1.5;
	}

	&__btn {
	  margin-top: 2.5rem;
	}

	&-img {

	  &__img {

	  }
	}

	&-icons {
	  position: absolute;
	  top: 50%;
	  left: 45%;
	  right: 30%;
	  transform: translateY(-50%);
	  background: linear-gradient(to bottom right, $first-gradient, $second-gradient);
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-wrap: wrap;
	  padding: 3rem;
	  border-radius: 15px;

	  &-elem {
		width: 50%;
		height: 20%;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-right: 1px dashed $border-dashed;
		border-bottom: 1px dashed $border-dashed;
		box-sizing: border-box;

		&:nth-child(even) {
		  border-right: 0;
		}

		&:nth-child(5), &:last-child {
		  border-bottom: 0;
		}

		&__img {
		  width: 40px;
		  height: 40px;
		  margin-top: 1rem;
		}

		&__text {
		  width: 60%;
		  text-align: center;
		  color: $header-text-color;
		  font-weight: 700;
		  margin: .5rem 0 1rem;
		}
	  }
	}
  }
}

.team {
  margin: 4rem 350px;
  position: relative;

  &__title {
	font-size: 2.5rem;
	text-align: center;
  }

  &__subtitle {
	text-align: center;
	line-height: 1.5;
	color: $light-text-color;
	margin: 2rem auto;
	width: 85%;
	display: block;
  }

  &-photo {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;

	&-item {
	  &__img {

	  }

	  &__name {
		text-align: center;
		color: $title-color;
		font-weight: 700;
		font-size: 1.5rem;
		margin-top: 1rem;
	  }

	  &__position {
		text-align: center;
		color: $lighter-text-color;
		font-size: 1.2rem;
	  }
	}
  }

  &::after {
	content: '';
	position: absolute;
	top: 50%;
	right: -3rem;
	left: -3rem;
	bottom: -3rem;
	background-color: $bg-gray;
	z-index: -1;
  }
}

.person {
  margin: 6rem 150px 4rem 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-text {
	width: 35%;

	&__title {
	  font-size: 2.5rem;
	}

	&__subtitle {
	  color: $lighter-subtitle-color;
	  font-size: 1.3rem;
	  font-weight: 700;
	  margin: .7rem 0;
	}

	&__text {
	  line-height: 1.5;
	  width: 80%;
	  margin-bottom: 5rem;
	}
  }

  &-photo {
	display: flex;
	width: 60%;

	&__img {

	}

	&-info {
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	  background: linear-gradient(to bottom right, $first-gradient, $second-gradient);
	  padding: 3rem;

	  &-wrapper {

		&__title {
		  color: $header-text-color;
		  font-weight: 700;
		  line-height: 1.5;
		}

		&__subtitle {
		  color: $header-text-color;
		  line-height: 1.5;
		}
	  }

	  &-icons {
		display: flex;

		&__icon {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  width: 60px;
		  height: 60px;
		  background-color: $bg-color;
		  border-radius: 50%;
		  font-size: 2rem;
		  margin-right: 1rem;

		  &:hover {
			i {
			  color: $second-gradient;
			}
		  }
		}
	  }
	}
  }
}

.price {
  margin: 4rem 150px;
  display: flex;

  &-gradient {
	background: linear-gradient(to bottom right, $first-gradient, $second-gradient);
	width: 65%;
  }

  &-value {
	margin: 5rem 0 5rem 7rem;
	padding: 2rem;
	background-color: $bg-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__title {
	  font-size: 2.5rem;
	  margin-bottom: 1rem;
	}

	&__subtitle {
	  font-weight: 700;
	  font-size: 1.2rem;
	  color: $title-color;
	}

	&__cost {
	  background: linear-gradient(to right, $first-gradient, $second-gradient);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  color: $first-gradient;
	  margin: 2rem 0;
	  font-size: 4rem;
	  font-weight: 700;
	  font-family: 'Myriad', sans-serif;

	  &--big {
		font-size: 5rem;
		font-weight: 700;
		font-family: 'Myriad', sans-serif;
	  }
	}

	&__text {
	  margin-top: 1rem;
	  text-align: center;
	  line-height: 1.5;
	}
  }

  &-info {
	background-color: $bg-gray;
	display: flex;

	&-wrapper {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  width: 80%;

	  &__title {
		font-size: 2.5rem;
		margin-bottom: 2rem;
	  }

	  &__text {
		line-height: 1.5;
		width: 80%;

		&--big {
		  line-height: 1.5;
		  font-weight: 700;
		  margin-bottom: 1rem;
		  width: 80%;
		}
	  }
	}
  }

  &-feature {
	margin: 5rem 2rem 5rem 0;
	padding: 2rem;
	width: 40%;
	background: linear-gradient(to bottom right, $first-gradient, $second-gradient);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__title {
	  font-weight: 700;
	  font-family: 'Myriad', sans-serif;
	  font-size: 3rem;
	  color: $header-text-color;
	}

	&__subtitle {
	  font-size: 1.5rem;
	  color: $header-text-color;
	  margin-bottom: 1rem;
	}

	&-list {
	  &-item {
		display: flex;
		align-items: center;
		color: $header-text-color;

		&__text {
		  margin-left: 1rem;
		  color: $header-text-color;
		  line-height: 1.5;
		  margin-bottom: .5rem;
		  font-weight: 700;
		  font-size: .9rem;
		}
	  }
	}

	&__btn {
	  background-color: $bg-color;
	  text-transform: uppercase;
	  color: $button-text-color;
	  font-weight: 700;
	  box-shadow: none;
	  border: 0;
	  outline: 0;
	  border-radius: 15px;
	  padding: .5rem 1rem;
	  cursor: pointer;
	  transition: transform .5s;
	  margin-top: 3rem;

	  &:hover {
		transform: scale(1.2);
	  }
	}
  }
}

.gradient-btn {
  text-transform: uppercase;
  background: linear-gradient(to right, $first-gradient, $second-gradient);
  color: $header-text-color;
  font-weight: 700;
  box-shadow: none;
  border: 0;
  outline: 0;
  border-radius: 15px;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: transform .5s;

  &:hover {
	transform: scale(1.2);
  }
}

.progress {
  display: flex;
  flex-direction: column;
  width: 90%;

  &__title {
	font-size: 1.2rem;
	color: $title-color;
	font-weight: 700;
  }

  &__num {
	font-size: 1.2rem;
	align-self: flex-end;
	color: $title-color;
	font-weight: 700;
  }

  &__bar {
	width: 100%;
	height: 14px;
	border-radius: 7px;
	background-color: $bg-progress-color;
	position: relative;
	margin-bottom: 2.5rem;

	&::after {
	  content: '';
	  position: absolute;
	  top: -14px;
	  left: 0;
	  right: 20%;
	  bottom: 14px;
	  background: linear-gradient(to right, $first-gradient, $second-gradient);
	  border-radius: 7px;
	}
  }
}

.title {
  font-family: 'Bernadette', sans-serif;
  color: $title-color;
}